In [1]:
# Import the essential library for data manipulation
import pandas as pd

print("Libraries imported successfully.")

Libraries imported successfully.

In [2]:
# Define the path to your raw data file
raw_data_path = '../data/NoShow Data May 2016 Brazil.csv'

# Load the CSV file into a pandas DataFrame
try:
    df = pd.read_csv(raw_data_path)
    print("Successfully loaded the raw data.")
    # Display the first 5 rows to see what it looks like
    display(df.head())
except FileNotFoundError:
    print(f"Error: The file at {raw_data_path} was not found.")

Successfully loaded the raw data.

,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,No-show
0,2.987250e+13,5642903,F,2016-04-29T18:38:08Z,2016-04-29T00:00:00Z,62,JARDIM DA PENHA,0,1,0,0,0,0,No
1,5.589978e+14,5642503,M,2016-04-29T16:08:27Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,0,0,0,0,0,No
2,4.262962e+12,5642549,F,2016-04-29T16:19:04Z,2016-04-29T00:00:00Z,62,MATA DA PRAIA,0,0,0,0,0,0,No
3,8.679512e+11,5642828,F,2016-04-29T17:29:31Z,2016-04-29T00:00:00Z,8,PONTAL DE CAMBURI,0,0,0,0,0,0,No
4,8.841186e+12,5642494,F,2016-04-29T16:07:23Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,1,1,0,0,0,No

In [3]:
# Let's inspect the data for issues.
print("--- Data Info ---")
df.info()

# First, we'll clean up the column names to make them easier to work with.
# (e.g., lowercase, no hyphens, consistent naming)
df.rename(columns={
    'PatientId': 'patient_id',
    'AppointmentID': 'appointment_id',
    'Gender': 'gender',
    'ScheduledDay': 'scheduled_day',
    'AppointmentDay': 'appointment_day',
    'Age': 'age',
    'Neighborhood': 'neighborhood',
    'Scholarship': 'scholarship',
    'Hipertension': 'hypertension', # Correcting potential typo
    'Diabetes': 'diabetes',
    'Alcoholism': 'alcoholism',
    'Handcap': 'handicap', # Correcting potential typo
    'SMS_received': 'sms_received',
    'No-show': 'no_show'
}, inplace=True)

# Convert date columns from text to actual datetime objects
df['scheduled_day'] = pd.to_datetime(df['scheduled_day'])
df['appointment_day'] = pd.to_datetime(df['appointment_day'])

# Convert the target variable 'no_show' from 'Yes'/'No' to 1/0
df['no_show'] = df['no_show'].apply(lambda x: 1 if x == 'Yes' else 0)

# Filter out bad data: age cannot be negative
df = df[df['age'] >= 0]

print("\n--- Column names cleaned and data types corrected. ---")
display(df.head())
df.info()

--- Data Info ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 110527 entries, 0 to 110526
Data columns (total 14 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   PatientId       110527 non-null  float64
 1   AppointmentID   110527 non-null  int64
 2   Gender          110527 non-null  object
 3   ScheduledDay    110527 non-null  object
 4   AppointmentDay  110527 non-null  object
 5   Age             110527 non-null  int64
 6   Neighbourhood   110527 non-null  object
 7   Scholarship     110527 non-null  int64
 8   Hipertension    110527 non-null  int64
 9   Diabetes        110527 non-null  int64
 10  Alcoholism      110527 non-null  int64
 11  Handcap         110527 non-null  int64
 12  SMS_received    110527 non-null  int64
 13  No-show         110527 non-null  object
dtypes: float64(1), int64(8), object(5)
memory usage: 11.8+ MB

--- Column names cleaned and data types corrected. ---

,patient_id,appointment_id,gender,scheduled_day,appointment_day,age,Neighbourhood,scholarship,hypertension,diabetes,alcoholism,handicap,sms_received,no_show
0,2.987250e+13,5642903,F,2016-04-29 18:38:08+00:00,2016-04-29 00:00:00+00:00,62,JARDIM DA PENHA,0,1,0,0,0,0,0
1,5.589978e+14,5642503,M,2016-04-29 16:08:27+00:00,2016-04-29 00:00:00+00:00,56,JARDIM DA PENHA,0,0,0,0,0,0,0
2,4.262962e+12,5642549,F,2016-04-29 16:19:04+00:00,2016-04-29 00:00:00+00:00,62,MATA DA PRAIA,0,0,0,0,0,0,0
3,8.679512e+11,5642828,F,2016-04-29 17:29:31+00:00,2016-04-29 00:00:00+00:00,8,PONTAL DE CAMBURI,0,0,0,0,0,0,0
4,8.841186e+12,5642494,F,2016-04-29 16:07:23+00:00,2016-04-29 00:00:00+00:00,56,JARDIM DA PENHA,0,1,1,0,0,0,0

<class 'pandas.core.frame.DataFrame'>
Index: 110526 entries, 0 to 110526
Data columns (total 14 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   patient_id       110526 non-null  float64
 1   appointment_id   110526 non-null  int64
 2   gender           110526 non-null  object
 3   scheduled_day    110526 non-null  datetime64[ns, UTC]
 4   appointment_day  110526 non-null  datetime64[ns, UTC]
 5   age              110526 non-null  int64
 6   Neighbourhood    110526 non-null  object
 7   scholarship      110526 non-null  int64
 8   hypertension     110526 non-null  int64
 9   diabetes         110526 non-null  int64
 10  alcoholism       110526 non-null  int64
 11  handicap         110526 non-null  int64
 12  sms_received     110526 non-null  int64
 13  no_show          110526 non-null  int64
dtypes: datetime64[ns, UTC](2), float64(1), int64(9), object(2)
memory usage: 12.6+ MB

In [4]:
# Now, we will create the 8 features required by the model.

# 1. lead_time_days: Difference between appointment and scheduling day
df['lead_time_days'] = (df['appointment_day'] - df['scheduled_day']).dt.days

# Filter out bad data where the appointment was scheduled after it occurred
df = df[df['lead_time_days'] >= 0]

# 2. appointment_dow: Day of the week (Monday=0, Sunday=6)
df['appointment_dow'] = df['appointment_day'].dt.dayofweek

# 3. gender: Convert 'M'/'F' to 0/1 (e.g., F=1, M=0)
df['gender'] = df['gender'].apply(lambda x: 1 if x == 'F' else 0)

# 4. total_conditions: Sum of all chronic conditions
condition_cols = ['hypertension', 'diabetes', 'alcoholism', 'handicap']
df['total_conditions'] = df[condition_cols].sum(axis=1)

# 5. has_chronic_condition: A binary flag (1 if they have at least one condition, else 0)
df['has_chronic_condition'] = (df['total_conditions'] > 0).astype(int)

# The other features ('age', 'sms_received', 'hypertension') already exist and are in the correct format.

print("--- All 8 features have been engineered. ---")
display(df[['age', 'lead_time_days', 'appointment_dow', 'sms_received', 'gender', 'hypertension', 'total_conditions', 'has_chronic_condition']].head())

--- All 8 features have been engineered. ---

,age,lead_time_days,appointment_dow,sms_received,gender,hypertension,total_conditions,has_chronic_condition
5,76,1,4,0,1,1,1,1
6,23,1,4,0,1,0,0,0
7,39,1,4,0,1,0,0,0
9,19,1,4,0,1,0,0,0
10,30,1,4,0,1,0,0,0

In [5]:
# Define the final list of columns we need for the model: the 8 features + the target variable.
final_columns = [
    'age',
    'lead_time_days',
    'appointment_dow',
    'sms_received',
    'total_conditions',
    'gender',
    'hypertension',
    'has_chronic_condition',
    'no_show'  # Our target variable
]

# Create a new DataFrame with only these columns in the specified order.
df_clean = df[final_columns]

# Final check for missing values in our selected data.
print("--- Final Check for Missing Values ---")
print(df_clean.isnull().sum())

# Define the path for our new, clean CSV file.
clean_data_path = '../data/cleaned_appointments.csv'

# Save the clean DataFrame to a new CSV file.
# index=False is important to prevent pandas from writing a new index column.
df_clean.to_csv(clean_data_path, index=False)

print(f"\n✅ Success! Cleaned data has been saved to '{clean_data_path}'.")
display(df_clean.head())

--- Final Check for Missing Values ---
age                      0
lead_time_days           0
appointment_dow          0
sms_received             0
total_conditions         0
gender                   0
hypertension             0
has_chronic_condition    0
no_show                  0
dtype: int64

✅ Success! Cleaned data has been saved to '../data/cleaned_appointments.csv'.

,age,lead_time_days,appointment_dow,sms_received,total_conditions,gender,hypertension,has_chronic_condition,no_show
5,76,1,4,0,1,1,1,1,0
6,23,1,4,0,0,1,0,0,1
7,39,1,4,0,0,1,0,0,1
9,19,1,4,0,0,1,0,0,0
10,30,1,4,0,0,1,0,0,0